## 1. Inspecting request_responses.csv file
<p>Nabd App provide easy, fast and reliable way of communication for those who are in need for urgent advice on how to deal with a medical emergency. Trauma specialists call the first 60 minutes after a serious injury "the golden hour". As chances of survival are greatest if the patient gets proper treatment in that hour. This obviously won't replace the need for a doctor, but it helps until medical transport arrives. We are modelling responses to get insights about users' behaviors that will help us improve the app.</p>
<p>We generated a dummy dataset to test the model using []. Once we deploy the app we will link the model to the database to perform our analysis.</p>
<p>The data is stored in <code>datasets/request_responses.csv</code> and it is structured according to RFMTC marketing model (a variation of RFM). </p>
<p> RFM stands for Recency, Frequency and Monetary Value and it is commonly used in marketing for identifying your best customers. In our case, our customers are request responders.
RFMTC is a variation of the RFM model. Below is a description of what each column means in our dataset:</p>
<ul>
<li> R (Recency - time since the last response in hours) </li>
<li> F (Frequency - total number of responses)</li>
<li> M (Monetary - duration of call in minutes)</li>
<li>T (Time - months since the first response)</li>
<li> a binary variable representing whether he/she responded to a call in the last week (1 stands for responding; 0 stands for not responding)</li>
<ul>

In [3]:
# Import pandas
import pandas as pd

# Read in dataset
responses = pd.read_csv('datasets/request_responses.csv')

# Print out the first rows of our dataset
responses.head()

,Recency (in Hours),Frequency,Monetary(in Minutes),Time(in Weeks),Responded
0,682,2,22,4,1
1,96,1,45,1,1
2,23,3,27,7,1
3,418,3,24,7,0
4,372,13,5,2,0

In [7]:
# Import pandas
import pandas as pd

# Read in dataset
responses = pd.read_csv('datasets/request_responses.csv')

# Print out the first rows of our dataset
responses.head()

,Recency (in Hours),Frequency,Monetary(in Minutes),Time(in Weeks),Responded
0,682,2,22,4,1
1,96,1,45,1,1
2,23,3,27,7,1
3,418,3,24,7,0
4,372,13,5,2,0

In [8]:
# Print a concise summary of responses DataFrame
responses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 5 columns):
Recency (in Hours)      800 non-null int64
Frequency               800 non-null int64
Monetary(in Minutes)    800 non-null int64
Time(in Weeks)          800 non-null int64
Responded               800 non-null int64
dtypes: int64(5)
memory usage: 31.3 KB

## 2. Creating target column
<p>We are aiming to predict the value in <code>responded</code> column. We will rename this it to <code>target</code> so that it's more convenient to work with.</p>

In [17]:
# Rename target column as 'target' for brevity 
responses.rename(
    columns={'responded': 'target'},
    inplace=True
)

# Print out the first 2 rows
responses.head(2)

,Recency (in Hours),Frequency,Monetary(in Minutes),Time(in Weeks),Responded
0,682,2,22,4,1
1,96,1,45,1,1

## 3. Checking target incidence
<p>We want to predict whether or not the same perosn will respond to a call. The model for this is a binary classifier, meaning that there are only 2 possible outcomes:</p>
<ul>
<li><code>0</code> - the person will not respond to the call</li>
<li><code>1</code> - the person will respond to the call</li>
</ul>
<p>Target incidence is defined as the number of cases of each individual target value in a dataset. That is, how many 0s in the target column compared to how many 1s? Target incidence gives us an idea of how balanced (or imbalanced) is our dataset.</p>

In [19]:
# Print target incidence proportions, rounding output to 3 decimal places
responses.target.value_counts(normalize = True ).round(3)

AttributeError: 'DataFrame' object has no attribute 'target'